[Unit]
Description=minerhome tunnel  service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
DynamicUser=true
ExecStart=cd /mh_tunnel &  mh_tunnel

[Install]
WantedBy=multi-user.target
