[Unit]
Description=MinerHome Tunnel Service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking


WorkingDirectory=/root/mh_tunnel
ExecStart=/root/mh_tunnel/run_mh_tunnel.sh 
# ExecStart=/root/mh_tunnel/mh_tunnel

# TimeoutSec=0
# RemainAfterExit=yes
# TimeoutStopSec=600
KillMode=mixed
TimeoutStartSec=10


User=root
Group=root






[Install]
WantedBy=multi-user.target





