[Unit]
Description=MinerHome Tunnel Service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking

WorkingDirectory=/root/mh_tunnel
ExecStart=/root/mh_tunnel/run_mh_tunnel.sh
# ExecStart=/root/mh_tunnel/mh_tunnel

TimeoutSec=60
RemainAfterExit=yes

User=root
Group=root

# Restart=always
# RestartSec=10s


[Install]
WantedBy=multi-user.target





