[Unit]
Description=MinerHome Tunnel Server service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking

WorkingDirectory=/root/mh_server
ExecStart=/root/mh_server/run_mh_server.sh
# ExecStart=/root/mh_server/mh_server

TimeoutSec=0
# RemainAfterExit=yes

User=root
Group=root



[Install]
WantedBy=multi-user.target





